/* Font Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
/* Font Source Sans Bold */
@import url("https://use.typekit.net/sph7ggo.css");
/* Font Source Sans Light */
@import url("https://use.typekit.net/sph7ggo.css");
/* Bernina Sans Extrabold */
@import url('https://use.typekit.net/sph7ggo.css');
/* Bernina Sans Regular */
@import url('https://use.typekit.net/sph7ggo.css');
/* Bernina Sans Narrow Extrabold */
@import url('https://use.typekit.net/sph7ggo.css');
/* Bernina Sans Narrow Light */
@import url("https://use.typekit.net/sph7ggo.css");

/* Font Classes */
.sans-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.sans-font-bold {
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sans-font-light {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bernina-sans-extrabold {
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.bernina-sans-regular {
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bernina-narrow-extrabold {
    font-family: jaf-bernina-sans-narrow, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.bernina-narrow-light {
    font-family: jaf-bernina-sans-narrow, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Colors */
:root {
    --main-color: #6F83D4;
    --shadow-main-color: #8d9cd6a2;
    --white: #ffffff;
    --orange: #FF7B00;
    --black: #000000;
    --gray: #3E4040;
    --bluegreen: #00827E;
}



/* Navbar */
#logo-navbar {
    /* 165 x 45 */
    /* height: 60px;
    width: 180px; */
    height: 43px;
    width: 163px;
    margin-left: -10px;
}

.navbar-text {
    color: var(--main-color);
    font-size: 15pt;
}

#ul-items li a {
    color: var(--main-color);
}

#btn-labopat {
    border: none;
    /* border: 1px solid var(--main-color); */
    background-color: transparent;
    border-radius: 30px;
    width: 93pt;
    height: 29pt;
    margin-top: 3px;
    padding-top: 4px;
}

#btn-labopat:active {
    box-shadow: 0 2px var(--shadow-main-color);
    transform: translateY(2px);
}
.nav-item {
    margin-left: 30px;
}

#ul-items {
    margin-right: -225px;
}

/* Responsive */
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}



/* Carousel */
#indicators li {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: var(--gray);
    margin-left: 10px;
}

.carousel-indicators {
    top: 18.5em;
}

#carousel-captions {
    padding-left: 1em;
    margin-bottom: -1em;
    width: 1000px;
}

#h1-no-bg {
    font-size: 36pt;
    color: #3E4040;
    margin-left: -390px;
}

#h1-bg {
    text-align: center;
    color: var(--white);
    font-size: 65pt;
    position: absolute;
    top: -15px;
}

#div-bg {
    position: relative;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    height: 70px;
    width: 890px;
}

#carousel-captions p {
    font-size: 16.7pt;
    color: #3E4040;
    margin-right: -22em;
}

.button-form button,
#carousel-captions button {
    font-size: 17pt;
    background-color: var(--orange);
    border-radius: 20px;
    border: none;
    width: 220px;
    height: 35px;
    color: var(--white);
    margin-right: -26em;
}

.button-form button:active,
#carousel-captions button:active {
    box-shadow: 0 2px #ff7b0044;
    transform: translateY(2px);
}

#btn-labopat,
.button-form button:focus,
.btn-section button:focus,
#carousel-captions button:focus {
    outline: none;
}



/* Section */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    /* border: 1px solid red; */
}

.section {
    grid-area: 2 / 1 / 5 / 8;
    height: 250px;
    margin-top: -40px;
}

.header {
    grid-area: 2 / 1 / 5 / 4;
    position: absolute;
    /* border: 1px solid green; */
}

.header h1 {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 35pt;
    margin-bottom: 0px;
}

.header h1:nth-child(3) {
    padding-left: 3.1em;
    margin-top: -52px;
}

.header p {
    color: var(--bluegreen);
    font-size: 100px;   
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 4px;
    height: 135px;
    padding-bottom: 0em;
    top: -40px;
}

.title {
    grid-area: 2 / 4 / 3 / 8;
    /* border: 1px solid blue; */
}

.title h4 {
    margin-top: 10px;
    margin-left: -1.7em;
    padding-right: 2em;
    color: var(--black);
}

.description {
    grid-area: 3 / 4 / 4 / 8;
    /* border: 1px solid red; */
}

.description p {
    color: var(--black)!important;
    margin-top: -15px;
    margin-left: -2em;
    padding-right: 60px;
    font-size: 15pt;
    margin-bottom: 0;
}

.btn-section {
    grid-area: 4 / 4 / 5 / 8;
}

.btn-section button {
    border: none;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 30px;
    width: 420px;
    height: 29pt;
    margin-top: 40px;
    margin-left: -2em;
    padding-top: 3px;
    margin-top: 30px;
    font-size: 23px;
}

.btn-section button:active {
    box-shadow: 0 2px var(--shadow-main-color);
    transform: translateY(2px);
}


/* Section baby */

#btns-baby {
    display: flex;
    flex-direction: row;
}

#buttons-container {
    width: 900px;
}


.container * {
    position: relative;
}



/* Form section */
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 550px;
    margin-top: -150px;
}

.header-contact {
    grid-area: 2 / 1 / 4 / 8;
    padding-left: 190px;
}

.header-contact h1 {
    color: var(--bluegreen);
    font-size: 70px;
}

.description-contact {
    grid-area: 4 / 1 / 7 / 4;
}

.description-contact div {
    color: var(--black);
    margin-left: 200px;
    font-size: 17px;
}

.form-contact {
    grid-area: 4 / 4 / 7 / 8;
}

.name {
    grid-area: 4 / 4 / 5 / 6;
}

.lastname {
    grid-area: 4 / 6 / 5 / 8;
}

.email {
    grid-area: 5 / 4 / 6 / 6;
}

.cellphone {
    grid-area: 5 / 6 / 6 / 8;
}

.cellphone input::-webkit-outer-spin-button,
.cellphone input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-form {
    grid-area: 7 / 4 / 8 / 8;
}

.message-form {
    grid-area: 6 / 4 / 7 / 8;
}

.message-form textarea {
    height: 100px;
    width: 536px;
    top: -15px;
}

.lastname input,
.cellphone input {
    left: -100px;
}

.name input,
.lastname input {
    top: 15px;
}

.name input,
.lastname input,
.email input,
.cellphone input {
    width: 250px;
}

.name input,
.lastname input,
.email input,
.cellphone input,
.message-form textarea {
    border: 1px solid var(--bluegreen);
    color: var(--black);
    font-size: 15px;
    resize: none;
    text-align: justify;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
}

.name input:focus,
.lastname input:focus,
.email input:focus,
.cellphone input:focus,
.message-form textarea:focus {
    outline: none;
}

.name input::placeholder,
.lastname input::placeholder,
.email input::placeholder,
.cellphone input::placeholder,
.message-form textarea::placeholder {
    font-size: 17px;
    color: var(--bluegreen);
}

.container2 * {
    position: relative;
}

.button-form button {
    width: 100px;
}


/* Footer */
footer {
    margin-top: -185px;
    background-image: url('./img/waves-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 271px;
    padding-top: 268px;
}

#waves {
    width: 100%;
}

footer div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white);
    height: 120px;
}

footer h5 {
    font-size: 15px;
}

#oops {
    height: 5px;
    width: 100%;
    background-color: var(--white);
    margin-top: 112px;
}