div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('architect-at-the-construction.jpg');
}

div.jumbotron.hero-photography {
  background-image: url('architects-and-worker.jpg');
}

div.jumbotron.hero-technology {
  background-image: url('young-college-students.jpg');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: #048f83!important;
  border-color: #048f83!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

#cellphone input::-webkit-outer-spin-button, .cellphone input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#name::placeholder, #lastname::placeholder, #email::placeholder, #cellphone::placeholder, #message-form::placeholder {
  color: #00827E;
  font-size: 17px;
}

#message-form {
  padding-left: 10px;
}

#message-form {
  resize: none;
}

#cellphone::-webkit-outer-spin-button, #cellphone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#message-form:focus {
  outline: none;
}

@media (min-width: 700px) {
  #info {
  }
}

@media (min-width: 800px) {
  #info {
    width: 850px;
    height: 243px;
    padding: 0 90px 0 90px;
  }
}

#conoce-pruebas {
  width: 345px;
  height: 243px;
  filter: drop-shadow(3.214px 3.83px 3.5px rgba(0,0,0,0.2));
  background-color: #00827f;
}

.hero-title {
  font-weight: 300;
}

#barra {
  width: 26px;
  height: 2px;
  background-color: #ffffff;
}

@media (max-width: 450px) {
  #conoce-pruebas {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

#arrow {
  filter: drop-shadow(3.214px 3.83px 3.5px rgba(0,0,0,0.2));
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 35px solid;
  position: absolute;
  top: 260px;
  left: 225px;
}

@media (min-width: 900px) {
  #conoce-pruebas {
    margin-left: 150px;
    margin-top: 50px;
  }
}

#risk-test-heading, #risk-test-heading-1, #risk-test-heading-2, #risk-test-heading-3 {
  font-size: 30px;
  color: #00827f;
  font-weight: 700;
  font-family: "Source Sans Pro";
}

#risk-test-p, #risk-test-p-1, #risk-test-p-3 {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-family: "Source Sans Pro";
}

.far.fa-check-circle.fa-li {
  color: #00827f!important;
}

.list-unstyled li {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  font-family: "Source Sans Pro";
}

#risk-test-heading-3 {
  color: var(--main-color);
}

button {
  font-weight: 300;
  font-family: "Bernina Sans";
  text-align: center;
}

#risk-test-p-2 {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-weight: 100;
}

@media (max-width: 450px) {
  #row-1, #row-2, #row-3, #row-4 {
    text-align: center;
    justify-content: center;
  }
}

.card {
  width: 287px;
  height: 327px;
  filter: drop-shadow(3.214px 3.83px 3.5px rgba(0,0,0,0.2));
}

.card-title {
  font-size: 30px;
  line-height: 32px;
  color: #00827f;
  font-weight: 700;
  font-family: "Source Sans Pro";
  text-align: center;
  margin-bottom: 20px;
}

.card-text {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  font-family: "Source Sans Pro";
  padding: 0 10px 0 10px;
}

.link-biopsia {
  font-size: 18px;
  color: #00827E!important;
  font-weight: 300;
  font-family: "Source Sans Pro";
}

.link-tests {
  font-size: 18px;
  color: #ff7b00!important;
  font-weight: 300;
  font-family: "Source Sans Pro";
}

#text-biopsia {
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 400;
  font-family: "Source Sans Pro";
}

#biobsia-heading {
  font-size: 30px;
  line-height: 30px;
  color: #00827f;
  font-weight: 700;
  font-family: "Source Sans Pro";
  text-align: center;
}

#biobsia-heading-1 {
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 700;
  font-family: "Source Sans Pro";
}

#border {
  border: 2px solid #00827E!important;
}

@media (min-width: 900px) {
  #border {
    width: 1032px;
  }
}

@media (max-width: 450px) {
  .new_columns {
    display: none;
  }
}

