/* Section baby */

#btns-baby {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  margin-right: 60px;
  width: 200px;
  margin-top: -52px;
  /*border: 1px solid red;*/
  height: 590px;
}

#buttons-container {
  width: 900px;
  position: relative;
  left: 100px;
}

#woman-tube {
  position: relative;
  left: -141px;
  width: 820px;
  height: 703px;
}

#carousel-title {
  width: 354px;
  height: 346px;
  font-size: 40px;
  line-height: 43px;
  color: #3e4040;
  font-weight: 700;
  text-align: center;
}

